body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 100% auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: rgb(163, 163, 163);
}

.result{
  background-color: rgb(193, 193, 193);
  display: block;
  
}


